<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="bR4YXI98JtFq0ZVw65-0Y7SEG2ibbjXOuxjRDuDuI30" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  <script src="/assets/one.js"> </script>
  </head>
<body>
  <div class="container">
    {{ content }}
    {% include footer.html %}
  </div>
  <script>
$(document).ready(function(){
    $(".diagram").sequenceDiagram({theme: 'hand'});
    $(".graph").graphviz({
        ready: function() {
            var gv = this
        }
    });
});
  </script>
</body>
</html>
